.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h1 {
    margin-top: 0;
  }
  
  p {
    margin: 10px 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .TextField {
    margin-bottom: 20px;
  }
  
  .Button {
    margin-top: 10px;
  }
  
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  